@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: #0088a9;
        }

        p {
            font-size: 1.1em;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .section-title {
            font-size: 1.3em;
            font-weight: bold;
            color: #333;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <p>Welcome to our Privacy Policy page. Your privacy is of utmost importance to us. Please take a moment to review our policy regarding the collection, use, and sharing of your personal information.</p>

        <div class="section-title">Introduction</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, libero sit amet facilisis sollicitudin, purus neque cursus turpis, sed fringilla libero orci non arcu. Curabitur at neque sit amet ipsum volutpat egestas a ut risus. Nam vel dolor ac ante suscipit cursus vel in purus.</p>

        <div class="section-title">Information Collection</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper libero a urna laoreet tincidunt. Integer feugiat leo non feugiat cursus. Aenean cursus urna libero, non pretium sem egestas eu. Curabitur faucibus, lectus sed feugiat blandit, magna ligula fermentum purus, nec cursus felis libero eget felis.</p>

        <div class="section-title">Use of Information</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium, magna ac suscipit varius, felis enim cursus elit, sit amet dapibus arcu orci ac tortor. Ut tincidunt interdum augue, a dignissim est rutrum vel. Nam maximus metus at erat vehicula, eget tincidunt velit volutpat.</p>

        <div class="section-title">Data Protection</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Integer ac nunc a felis gravida fermentum. Cras hendrerit felis ac purus condimentum, a efficitur odio tincidunt. Aenean bibendum orci sit amet arcu ultricies, a tristique orci suscipit. Phasellus id sollicitudin felis.</p>

        <div class="section-title">Contact Us</div>
        <p>If you have any questions regarding our privacy policy or need further information, feel free to <a href="mailto:privacy@yourdomain.com">contact us</a>. We will be happy to assist you!</p>
    </div>
</body>
