.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto+Condensed';
}

    .table thead tr {
        background-color: #CFB284;
        color: white;
        text-align: left;
        font-weight: bold;
    }   

    .table th,
    .table td {
        padding: 12px, 15px;
    }

    .table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .table tbody tr:last-of-type {
        border-bottom: 2px solid #CFB284;
    }

.icon-btn svg {
    cursor: pointer; 
    width: 20px; 
    height: 20px; 
    color: #0088a9;
}

    .icon-btn svg:hover {
        fill: #CFB284; 
    }

.icon-btn {
    padding: 0;
    border: none;
    background: none;
}
